@import '../../../styles/_colors.scss';

.sectionTwo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background-primary;

    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 2rem;
        font-weight: 700;
        color: $white;
        margin-bottom: 40px;
        text-shadow: $shadow-text-2;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        width: 80%;
      
        .card {
          display: flex;
          flex-wrap: wrap;
          width: 48%;
          height: 279px;
          margin-bottom: 30px;
          padding: 20px;
          background-color: #f5f5f5;
          border-radius: 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          overflow: hidden;

          .card-image {
            width: 30%;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        
          .card-details {
            width: 70%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            h3 {
              margin-top: 0;
              font-family: 'Hind Madurai';
              font-size: 1.8em;
              font-weight: 600;
              text-shadow: $shadow-text;
            }

            span {
              font-family: 'Hind Madurai';
              color: #00000094;
              font-size: 1.2em;
              font-weight: 400;
              line-height: 1.4;
              margin-bottom: 0.5em;
            }
        
            p {
              margin-bottom: 0;
              font-family: 'Hind Madurai';
              font-size: 1.2em;
              font-weight: 400;
              line-height: 1.4;
            }

            .badges {
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              
              .type {
                background-color: $text-color-one;
                font-family: 'Hind Madurai';
                font-size: 0.7em;
                font-weight: 700;
                color: #ffffff;
                margin-right: 10px;
                padding: 0.3rem 1rem;
                border-radius: 20px;
                box-shadow: $shadow-box-1;
              }
              
              .price {
                background-color: $text-color-one;
                font-family: 'Hind Madurai';
                font-size: 0.7em;
                font-weight: 700;
                color: #ffffff;
                margin-right: 10px;
                padding: 0.3rem 1rem;
                border-radius: 20px;
                box-shadow: $shadow-box-1;
              }
            }
          
            button {
              background-color: $background-primary;
              color: $white;
              border: none;
              margin-top: 0.5em;
              padding: 0.5rem 1rem;
              cursor: pointer;
              border-radius: 20px;
              width: 120px;
              font-family: 'Hind Madurai';
              font-weight: 700;
              font-size: 0.7em;
              &:hover {
                background-color: darken($background-primary, 10%);
            }
          }

          @media (max-width: 768px) {
            .card {
              flex-direction: column;

              .card-image {
                width: 100%;
              }

              .card-details {
                width: 100%;
              }
            }
          }
        }
      }
    }
}
