@import '../../../styles/_colors.scss';

.sectionTwo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background-primary;

    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 2rem;
        font-weight: 700;
        color: $white;
        margin-bottom: 40px;
        text-shadow: $shadow-text-2;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 40%);
        width: 80%;

        .cards {
            height: 80%;
        }
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: calc(100vh - 40%);
        width: 80%;
      
        .card {
          width: 200px;
          margin: 10px;
          padding: 20px;
          background-color: #f1f1f1;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          text-align: center;
        }

        .pagination {
            height: 20%;
        }
    }
      
}