@import '../../../styles/_colors.scss';

.search-homepage {
    position: absolute;
    width: 80%;
    height: 100px;
    margin-top: -50px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    z-index: 1;
    background-color: $white;
    box-shadow: 0 3px 7px rgba($color: #0000008c, $alpha: 1.0);

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 10px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $black;

            span {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                .icon-input {
                    margin-bottom: 2px;
                }

                .icon-select {
                    margin-bottom: 5px;
                }

                label {
                    font-family: "Hind Madurai", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    margin-left: 10px;
                    font-size: 24px;
                }
            }

            input {
                border: none;
                width: 80%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.401);

                &::placeholder{
                    text-align: center;
                }
                &:focus {
                    outline: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.401);
                }
            }

            input[type="text"] {
                text-align: center;
            }

            select {
                border: none;
                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.401);

                &:focus {
                    outline: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.401);
                }

                option {
                    font-family: "Hind Madurai", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    margin-left: 10px;
                }
            }

            
            button {
                margin-inline-start: 20px;
                margin-inline-end: 20px;
                background-color: $button-background;
                color: $text-color-two;
                width: 60px;
                height: 60px;
                border: 1px solid $button-background;
                border-radius: 10px;
                padding: 10px 10px;
                font-family: "Lora";
                font-size: 20px;
            }
        }
    }
}