@import '../../../styles/_colors.scss';
.sectionOne {
    height: 100vh;
    .textSection {
        padding-top: 280px;
        .firstText {
            text-align: center;
            font-family: "Lora";
            font-size: 24px;
            font-weight: 400;
            color: $white;
            text-shadow: $shadow-text;
        }

        .secondText {
            line-height: 30px;
            text-align: center;
            font-family: "Montserrat";
            font-size: 40px;
            font-weight: 900;
            color: $text-color-one;
            margin-top: 20px;
            text-shadow: $shadow-text;
        }
        
        .buttonSection {
            margin-top: 20px;
            text-align: center;
            padding: 20px;
            button {
                margin-inline-start: 20px;
                margin-inline-end: 20px;
                background-color: $button-background;
                color: $white;
                width: 195px;
                height: 55px;
                border: 1px solid $button-background;
                border-radius: 10px;
                padding: 10px 20px;
                font-family: "Lora";
                font-size: 20px;
                font-weight: bold;
                text-shadow: $shadow-text;
                box-shadow: $shadow-box-1;
                &:hover {
                    background-color: $text-color-one;
                    color: $button-background;
                    border: 1px solid $text-color-one;
                }
            }
        }
    }
}