@import '../../../styles/_colors.scss';

.sectionThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    background: $background-primary;
    padding: 40px 60px;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120%;
        background-color: $background-secondary-2;
        border-radius: 50px;

        .title {
            margin-bottom: 40px;
            margin-top: 40px;

            h2 {
                font-family: 'Montserrat', sans-serif !important;
                font-weight: bold;
                font-size: 2rem;
                font-weight: 700;
                text-shadow: $shadow-text-2;
                color: $white;
            }
        }
    
        
        .card-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 18px;
            // width: 80%;
            padding: 40px;
        }
    }
}

@media (max-width: 767px) {
    .sectionThree {
        padding: 0;

        .wrapper {
            border: none;
            border-radius: 50px 50px 0px 0px;

            .card-container {
                gap: 6px;
            }
        }
    }
}

/* Styles for screens between 768px and 1199px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1299px) {
    .sectionThree {

        .wrapper {

            .card-container {
                gap: 6px;
            }
        }
    }
}

/* Styles for screens 1200px and larger (e.g., desktops) */
@media (min-width: 1300px) and (max-width: 1399px) {
    .sectionThree {

        .wrapper {

            .card-container {
                gap: 12px;
            }
        }
    }
}

/* Styles for screens 1200px and larger (e.g., desktops) */
@media (min-width: 1400px) and (max-width: 1999px) {
    .sectionThree {
        .wrapper {

            .card-container {
                gap: 6px;
            }
        }
    }
}

/* Styles for screens 1500px and larger (e.g., desktops) */
@media (min-width: 2000px) {}