@import '../../../styles/_colors.scss';

.sectionThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    background: $background-primary;
    padding: 40px 60px;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 40px;
        background-color: $background-secondary;
        border-radius: 50px;

        .title {
            margin-bottom: 40px;

            h2 {
                font-family: 'Montserrat', sans-serif !important;
                font-weight: bold;
                font-size: 2rem;
                font-weight: 700;
                text-shadow: $shadow-text-2;
                color: $white;
            }
        }
    
        
        .card-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 18px;
            // width: 80%;
            padding: 40px;
        }
    }
}